.container {
  text-align: center;
  padding: 50px 20px;
}

.logo {
  height: 100px;
  margin-bottom: 20px;
}

.title {
  color: #003366;
  margin-bottom: 20px;
}

.description {
  color: #555;
  font-size: 18px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
